@model ProductViewModel
<div class="col-lg-2 col-md-12 mb-2">
    <div class="card">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
             data-mdb-ripple-color="light">
            <img src="@Model.Image"
                 class="w-100" />
            <a href="#!">
                <div class="mask">
                    
					
                    <div class="d-flex justify-content-start align-items-end h-100">
                        @if (@Model.IsNew)
                        {
                            <h5><span class="badge bg-primary ms-2" >New</span></h5>
                        }
                    </div>
                    
                </div>
                <div class="hover-overlay">
                    <div class="mask" style="background-color: whitesmoke;"></div>
                </div>
            </a>
        </div>
        <div class="card-body">
            
                <h5 class="card-title mb-3">@Model.Name</h5>
            
            
            <h6 class="mb-3">@Model.Price $</h6>

            <a class="ml-2 btn btn-success" asp-area="" asp-controller="Product" asp-action="InfoProduct" asp-route-id="@Model.Id"> Info  </a>
            <a class="ml-2 btn btn-warning" asp-area="" asp-controller="Product" asp-action="EditProduct" asp-route-id="@Model.Id"> Edit</a>
            
        </div>
    </div>
</div>