@model IEnumerable<OrderViewModel>
@{

	ViewData["Title"] = "All Orders";
}

<div>
	<a class="btn btn-primary m-4 " asp-area="" asp-controller="Order" asp-action="AddOrder">Add new Order</a>

</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Order Id</th>
			<th scope="col">Customer</th>
			<th scope="col">VAT Number</th>
			<th scope="col">Town</th>
			<th scope="col">Address</th>
			<th scope="col">Total Price</th>
			<th scope="col">Is Invoiced</th>
			<th scope="col">Option</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@item.Id</th>
				<td>@item.Customer.Name</td>
				<td>@item.Customer.VatNumber</td>
				<td>@item.Customer.City</td>
				<td>@item.Customer.Address</td>
				<td>@item.TotalPrice $</td>
				<td>@item.HasInvoice</td>
				@if (item.HasInvoice == false)
				{
					<td><a class="btn btn-primary" asp-area="" asp-controller="Invoice" asp-action="AddInvoice" asp-route-id="@item.Id">Make Invoice</a></td>
				}
			</tr>
		}
	</tbody>
</table>

