@model IEnumerable<InvoiceViewModel>
@{

	ViewData["Title"] = "All Invoices";
}

<div>
	<a class="btn btn-primary m-4" asp-area="" asp-controller="Order" asp-action="AllOrders">Make new Invoice from Order</a>

</div>
<table class ="table table-striped">
	<thead>
		<tr>
			<th scope="col">Invoice Number</th>
			<th scope="col">Date</th>
			<th scope="col">Customer</th>
			<th scope="col">Total Price</th>
			<th scope="col">Is Paid</th>
			<th scope="col">Option</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@item.InvoiceNumber</th>
				<td>@item.DateOfInvoice</td>
				<td>@item.CustomerName</td>
				<td>@item.TotalPrice</td>
				<td>@item.IsPaid</td>
				<td>
				@if (item.IsPaid == false)
				{
						<a href="@Url.Action("PayInvoice", "Invoice", new { id = item.Id })" class="btn btn-success"> Pay Invoice</a>
				}
				</td>
			</tr>
		}
	</tbody>
</table>
