@model  IEnumerable<InvoiceViewModel>
@{
	
	ViewData["Title"] = "All Invoices";
}

<div> 
	<a class="btn btn-primary"  asp-area="" asp-controller="Invoice" asp-action="AddInvoice">Add Invoice</a>
	
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Invoice Number</th>
			<th scope="col">Date</th>
            <th scope="col">Customer</th>
			<th scope="col">TotalPrice</th>
			<th scope="col">IsPaid</th>
			<th scope="col">Option</th>
        </tr>
    </thead>
<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">@item.InvoiceNumber</th>
				<td>@item.DateOfInvoice</td>
				<td>@item.CustomerId</td>
				<td>@item.TotalPrice</td>
				<td>@item.IsPaid</td>
				<td><a class="btn btn-primary" asp-area="" asp-controller="Invoice" asp-action="EditInvoice" asp-route-id="@item.InvoiceNumber">Edit</a></td>
			</tr>
		}
	</tbody>
</table>
