@model WareHouseViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Warehouse Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f5f5f5;
            padding: 20px;
        }

        .product-table {
            margin-top: 20px;
        }

        .product-table th,
        .product-table td {
            vertical-align: middle !important;
        }

        .product-table th {
            background-color: #343a40;
            color: #fff;
        }

        .product-table tbody tr:hover {
            background-color: #f2f2f2;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Warehouse Products</h1>
        <div>
        <p><strong>Total Products:</strong> @Model.Products.Count</p>
            @{
                decimal totalPriceofAll = 0;
                foreach (var product in Model.Products)
				{
					totalPriceofAll += product.Price * product.Quantity;
				}
            }
            <p><strong>Total Price of All Products:</strong> @totalPriceofAll $</p>
            <p><strong>Total Quantity of All Products:</strong> @Model.Products.Sum(p => p.Quantity) pcs.</p>
    </div>
        <table class="table product-table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Deleted from Portfolio</th>
                    <th>Is new</th>
                    <th>Price</th>
                    <th>Quantity</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.IsDeleted</td>
                        <td>@product.IsNew</td>
                        <td>@product.Price $</td>
                        <td>@product.Quantity</td>
                        
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>






