@model IEnumerable<CustomerViewModel>


@{
	ViewData["Title"] = "All Customers";
	var customers = Model.ToList();
}
<a class="btn btn-primary" asp-controller="Customer" asp-action="CreateCustomer">Add Client</a>
@if (!customers.Any())
{
	<div class="mt-4 p-5 bg-light">
		<h1 class="display-4">All clients of the company!</h1>
		<p class="lead">
			There are no clints in the system currently available
			so why don't you just add one?
		</p>
		<hr class="my-4">
		
	</div>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2>Client List</h2>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>VAT Number</th>
                        <th>Manager</th>
                        <th>City</th>
                        <th>Adress</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in Model)
                    {
                        <tr>
                            <td>@client.Name</td>
                            <td>@client.VatNumber</td>
                            <td>@client.Manager</td>
                            <td>@client.City</td>
                            <td>@client.Address</td>
                            <!-- Add more columns as needed -->
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Bootstrap JS and jQuery (required for some Bootstrap features) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
