@using Mini_ERP
@using MiniERP.Web.ViewModels
@model OwnerViewModel


<h2>Company Report</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">@Model.CompanyName</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4">Address:</dt>
                    <dd class="col-sm-8">@Model.Address</dd>

                    
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">VAT Number:</dt>
                    <dd class="col-sm-8">@Model.VatNumber</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">General Manager:</dt>
                    <dd class="col-sm-8">@Model.GeneralManager</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">Warehouse Information</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4"> Warehouse:</dt>
                    <dd class="col-sm-8">@Model.WareHouseName</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4"> Total price of all products:</dt>
                    <dd class="col-sm-8">@Model.WareHouseTotalValue $</dd>
                </dl>
                <dl class="row">
                    <dt class="col-sm-4">Total Products:</dt>
                    <dd class="col-sm-8">@Model.TotalProducts psc</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">Financial Summary</div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Total Balance:</th>
                        <td>@Model.Balance $</td>
                    </tr>
                    <tr>
                        <th>Bank Account:</th>
                        <td>@Model.BankAccount</td>
                    </tr>
                   
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">Performance Metrics</div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Total Orders:</th>
                        <td>@Model.TotalOrders</td>
                    </tr>
                    <tr>
                        <th>Total Invoices:</th>
                        <td>@Model.TotalInvoices</td>
                    </tr>
                    <tr>
                        <th>Total Customers:</th>
                        <td>@Model.TotalCustomers</td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
</div>
